In [13]:
a = input("Enter sentence:")
b = a.split()    #Convert sentence into words
c = set(b)     #Convert list to set to remove duplicates
d = len(c)     #Count unique words
print("Unique words count:",d)
print("Unique words:",c)

Enter sentence: python is easy and python is powerful

Unique words count: 5
Unique words: {'easy', 'python', 'is', 'powerful', 'and'}

In [11]:
a = {"Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000}
b = max(a.values())        
c = max(a, key=a.get)
print("Highest Salary:",c,"-",b)

Highest Salary: Ravi - 75000

In [12]:
a = [45, 22, 89, 10, 66]
b = a[0]  
c = a[0]  
for d in a:
    if d > b:
        b = d
    if d < c:
        c = d
print("List:", a)
print("Max:", b)
print("Min:", c)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [14]:
a = [450, 1200, 899, 1500, 300]
b = 0  
for c in a:
    if c > 1000:
        b = b + 1
print("Products above 1000:", b)

Products above 1000: 2

In [15]:
a = ["P", "P", "A", "P", "P"]
b = 0  
for c in a:
    if c == "P":
        b =b +1
d = len(a)
e = (b/d)*100
print("Attendance Percentage:",e)

Attendance Percentage: 80.0

In [6]:
a = [9876543210, 9123456789, 9876543210]
b = set(a)
print("Unique phone numbers:",b)

Unique phone numbers: {9876543210, 9123456789}

In [10]:
a = [10, 20, 30]
b = tuple(a)
print("Tuple:",b)

Tuple: (10, 20, 30)

In [8]:
a = {"Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000}
b = "Ravi"
if b in a:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [16]:
a = [70, 80, 75, 65]
b = 0
for c in a:
    b = b + c
d = len(a)
e = b / d
print("Average Marks:", e)

Average Marks: 72.5